@import './vars.scss';

html {
    min-height: 100%;
    font-size: 14px;

    font-family: 'Press Start 2P', cursive;
}

@media (min-width: $breakpoint-medium) {
    html {
        font-size: 16px;
    }
}

@media (min-width: $breakpoint-big) {
    html {
        font-size: 20px;
    }
}

body, h1, h2, h3, h4, h5, button, p, input {
    background-color: $col-bg;

    margin: 0em;
    font-family: 'Press Start 2P', cursive;
    font-weight: 300;
}

h1, h2, h3, h4, h5 {
    margin-bottom: 1rem;
    color: $col-hl;    
}

h1 {
    font-size: 1.2rem;
}

h2 {
    font-size: 1.2rem;
}

h3 {
    font-size: 1.2rem;
}

body {
    color: $col-text;
}

header {
    
}

main {
    max-width: $breakpoint-big;
}

button {
    padding: 0.8rem;
    font-size: 0.8rem;
    color: $col-text;

    border: 0.25rem solid $col-dark-brown;

    &[disabled] {
        border: 0.25rem solid $col-med-grey;
        color: $col-med-grey;
    }
}

input {
    border: 0.25rem solid $col-dark-brown;
    color: $col-text;   
}

.box {
    border: 0.4rem solid $col-dark-brown;
    margin: 0.8rem;
    padding: 0.6rem;
}

.sorry-man {
    font-style: italic;
    padding-left: 2rem;
}