html {
    min-height: 100%;
    font-size: 22px;

    font-family: 'Press Start 2P', cursive;
}

body, h1, h2, h3, h4, h5, button, p, input {
    margin: 0em;
    font-family: 'Press Start 2P', cursive;
    font-weight: 300;
}

body {
    
}

header {
    
}

main {

}

button {
    padding: 1rem;
    font-size: 0.8rem;
}