$col-brown: #bd9067;
$col-dark-brown: #5b4c3b;
$col-dark-grey: #474441;

$col-med-grey: #747682;
$col-light-grey: #d7d6df;




$col-bg: $col-brown;
$col-hl: $col-dark-brown;
$col-text: $col-dark-grey;

$breakpoint-medium: 768px;
$breakpoint-big: 1024px;